
body {
  background: rgb(245, 245, 245);
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, header, section, aside {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #71777c;
}
a:active{
  text-decoration: none;
}

button, input {
  overflow: visible;
}

/*---------------------------------------------*/
/*主要内容布局*/
.view-wrap {
  max-width: 1200px;
  margin: 0 auto 15px;
  display: flex;

}

.main-container {
  padding: 0px 15px 15px;
  width: 100%;
}
.breadcrumb{
  width: 100%;
  padding:10px 0;
}
.content-wrap{
  margin:15px 0;
}
/*---------------------------------------------*/
