<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengshi.qixingshe.dao.LiveTopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ResultMap" type="com.chengshi.qixingshe.model.LiveTopic">
        <id column="id" property="id"/>
        <result column="cname" property="cname"/>
        <result column="thumb" property="thumb"/>
        <result column="cDescription" property="description"/>
        <result column="articleCount" property="articleCount"/>
        <result column="attentionCount" property="attentionCount"/>
        <result column="createTime" property="createTime"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="selectLiveTopic">
        SELECT
        *
        FROM
        live_topic
    </sql>

    <select id="findById" resultMap="ResultMap" parameterType="Integer">
        <include refid="selectLiveTopic"/>
        WHERE id= #{id}
    </select>

    <select id="findList" resultMap="ResultMap">
        <include refid="selectLiveTopic"/>
    </select>

    <select id="findPage" resultMap="ResultMap">
        <include refid="selectLiveTopic"/>
        <where>
            <if test="cname !=null and cname!=''">
                cname LIKE CONCAT('%',#{cname},'%')
            </if>
        </where>
    </select>
</mapper>
