<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengshi.qixingshe.dao.ManagerMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="ResultMap" type="com.chengshi.qixingshe.model.Manager">
        <id column="managerId" property="id"/>
        <result column="account" property="account"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="createTime" property="createTime"/>
        <result column="lastTime" property="lastTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="resultMapWithRole" type="com.chengshi.qixingshe.model.Manager">
        <id column="managerId" property="id"/>
        <result column="account" property="account"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <collection column="managerId" property="roles"
                    select="com.chengshi.qixingshe.dao.AuthorityMapper.findRolesByUserId"></collection>
    </resultMap>


    <sql id="selectManager">
        SELECT
        *
        FROM
        manager
    </sql>

    <!--根据用户id查找管理员-->
    <select id="findManagerById" resultMap="resultMapWithRole" parameterType="int">
        <include refid="selectManager"/>
        WHERE managerId=#{id}
    </select>

    <!--根据用户账号查找管理员 -->
    <select id="findManagerByAccount" resultMap="resultMapWithRole" parameterType="String">
        <include refid="selectManager"/>
        WHERE account=#{account}
    </select>

    <!--根据用户电话查找管理员 -->
    <select id="findManagerByPhone" resultMap="resultMapWithRole" parameterType="String">
        <include refid="selectManager"/>
        WHERE phone=#{phone}
    </select>

    <!--根据用户邮箱查找管理员 -->
    <select id="findManagerByEmail" resultMap="resultMapWithRole" parameterType="String">
        <include refid="selectManager"/>
        WHERE email=#{email}
    </select>

<select id="findManagerByKey" resultMap="ResultMap">
    <include refid="selectManager"/>
    <where>
        <if test="id != null and id != ''">
            managerId=#{id}
        </if>
        <if test="account != null and account != ''">
           AND account=#{account}
        </if>
        <if test="phone != null and phone != ''">
           AND phone=#{phone}
        </if><if test="email != null and email != ''">
           AND email=#{email}
        </if>
    </where>
</select>

    <!--分页查找所有管理员-->
    <select id="findManagerPage" resultMap="ResultMap">
        <include refid="selectManager"/>
        <where>
            <if test="account != null and account != ''">
                account LIKE CONCAT('%',#{account},'%')
            </if>
            <if test="fDate != null and fDate !=''">
                AND DATEDIFF(createTime,#{fDate})&gt;0
            </if>
            <if test="tDate != null and tDate !=''">
                AND DATEDIFF(createTime,#{tDate}) &lt;0
            </if>
            <if test="status!=null">
                <if test="status eq 0 or status eq 1">
                    AND status=#{status}
                </if>
            </if>
        </where>
        ORDER BY createTime DESC
    </select>

    <insert id="addManager">
    insert into manager(account,phone,username,password,createTime,authorityId,status,email)
    values(#{account},#{phone},#{username},#{password},#{createTime},#{authorityId},#{status},${email})
</insert>
</mapper>
